<table width="600" style="margin-bottom:20px" align="center">
  <tr>
    <td width="200" align="center">
      <img src="{{ALBUM_IMG}}" alt="album cover" width="250" height="250" style="display:block;border: 1px solid #e1e1e1;border-radius:4px;" />
    </td>
  </tr>
  <tr>
    <td>
      <table width="600">
        <tr>
          <td align="center">
            <p style="margin:10px 0px;padding:0;" align="center">
              <strong style="font-size:1.4em">{{ALBUM_TITLE}}</strong> by 
              <strong style="font-size:1.2em;margin:0;padding:0;">{{ALBUM_ARTIST}}</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td align="center">
            <a href="{{ALBUM_LINK}}" style="width:200px;text-decoration:none;border:0;text-align:center;display:block;padding:10px;background-color:#3567E6;color:#ffffff;border-radius: 3px">Listen on Deezer</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>